@media only screen and (max-width: 768px) {
  .settings > div {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .settings > div {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .screen {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .screen {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
  }

  .settings > div {
    width: 50%;
  }

  .eta {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  line-height: 1.5rem;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Global */

.iconButton {
  background: #555;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 0.85rem;
  height: 2.25rem;
  padding: 0.35rem;
  transition: 0.5s background;
  width: 2.25rem;
}

.iconButton:active, .iconButton:disabled {
  background: #ccc;
}

* {
  box-sizing: border-box;
}

button, input, select {
  height: 2.25rem;
  padding: 0.35rem;
  border-radius: 15px;
  font-size: 0.85rem;
}

button {
  transition: 0.5s background;  
}

button > * {
  vertical-align: middle;
}

button:active {
  background: #d9d9d9;
}

input[type="text"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input[type="text"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

span.material-symbols-outlined {
  vertical-align: middle;
  font-size: 1.35rem;
}

button span.material-symbols-outlined {
  font-size: 1.25rem;
}

/* Section - Main Screen */

.screen > div:not(:last-child) {
  border-bottom: 1px solid #999999;
}

/* Section - Search Bar */

.searchBar, .bottomBar {
  background: #11254a;
  padding: 15px;
}

.searchBar div {
  align-items: center;
  border-radius: 15px;
  display: grid;
  gap: 10px;
}

.searchBar .iconContainer {
  background: #006600;
  border-radius: 15px;
  height: 2.25rem;
}

.searchBar span.material-symbols-outlined {
  color: #fff;
  text-align: center;
}

.routeSelection {
  grid-template-columns: 2.25rem 1fr;
  margin-bottom: 15px;
}

.directionSelection {
  grid-template-columns: 2.25rem 1fr 2.25rem;
}

.directionContainer {
  background: #fff;
  display: inline;
  height: 100%;
  vertical-align: center;
}

#route, #direction {
  background: #fff2e6;
  border: none;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.35rem;
}

#direction {
  min-height: 2.25rem;
}

/* Section - ETA */

.eta {
  height: 100%;
  overflow-y: auto;
}

.stop_section {
  padding: 30px 20px 25px;
}

.stop_section > h3 {
  margin: 0px 0px 20px;
  font-size: 1.075rem;
  font-weight: 500;
}

.stop_section:nth-child(2n) {
  background: #e6f7ff;
}

.departure:not(:last-of-type) {
  margin: 0px 0px 20px;
}

.no_departure {
  font-size: 0.95rem;
  font-weight: 500;
  color: #ff3333;
}

.no_departure span.material-symbols-outlined {
  margin: 0px 5px 0px 0px;
}

.departure > span {
  display: inline-block;
}

.departure > span:not(:last-child) {
  margin: 0px 5px 0px 0px;
}

.arriving > span:first-of-type {
  color: #005ce6;
}

.departure:first-of-type > span:first-of-type {
  font-size: 1.15rem;
  font-weight: 700;
}

.departure:not(:first-of-type) > span:first-of-type {
  font-size: 1.0rem;
  font-weight: 500;
}

.departure > span:nth-of-type(2) {
  color: #333;
  font-size: 0.9rem;
  font-weight: 500;
}

.departure > span:nth-of-type(3) {
  color: #595959;
  font-size: 0.9rem;
  font-weight: 500;
}

.chip {
  border-radius: 15px;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0px 10px;
  vertical-align: middle;
}

.chip_scheduled {
  background: #8c8c8c;
}

.chip_delayed {
  background: #cc8800;
}

/* Section - Bottom Bar */

.bottomBar {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.bottomBar div {
  display: grid;
  justify-content: center;
  align-items: center;
}

#lastUpdate {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

/* Settings Dialog */

.settings {
  display: none;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: rgba(240, 240, 240, 0.7);
}

.settings > div:not(.close) div {
  margin-bottom: 5px;
}

.settings > div {
  border: 2px solid #999999; 
  border-radius: 15px;
  padding: 10px;
  background: #ffffff;
}

.settings > div > div:first-child {
  text-align: end;
}

.settings > div > div:not(:first-child) {
  padding: 15px;
}

.settings button {
  transition: 0.5s background-color;  
}

.settings button, .settings input, .settings select {
  border: 2px solid #999999;
  text-align: center;
  font-weight: 600;
}

.settings button:not(.settings_close), .settings input, .settings select {
  width: 100%;
}

.settings span.material-symbols-outlined {
  font-size: 1.3rem;
}