@media only screen and (max-width: 768px) {
  .settings > div {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .settings > div {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .screen {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .screen {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
  }

  .settings > div {
    width: 50%;
  }

  .eta {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  line-height: 1.5rem;
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Global */

.icon_label > * {
  vertical-align: middle;
}

.icon_label > span.material-symbols-outlined {
  margin-right: 4px;
}

* {
  box-sizing: border-box;
}

button, input, select {
  height: 2.25rem;
  padding: 0.35rem;
  border-radius: 15px;
  font-size: 0.85rem;
}

button {
  transition: 0.5s background;  
}

button > * {
  vertical-align: middle;
}

button:active {
  background: #d9d9d9;
}

input[type="text"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input[type="text"]::-webkit-calendar-picker-indicator {
  display: none !important;
}

span.material-symbols-outlined {
  vertical-align: middle;
  font-size: 1.35rem;
}

button span.material-symbols-outlined {
  font-size: 1.25rem;
}

/* Section - Main Screen */

.screen > div:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.screen button, .screen input, .screen select {
  border: none;
  background: #ffffff;
}

.screen input, .screen select {
  width: 100%;
  font-size: 0.9rem;
}

/* Section - Search */

.search, .bottom_bar {
  background: #11254a;
  padding: 15px;
}

.search div {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  border-radius: 15px;
  background: #555555;
}

.search div:not(:last-child) {
  margin-bottom: 15px;
}

.search input, .search select {
  font-size: 0.9rem;
  font-weight: 500;
}

.search span.material-symbols-outlined {
  display: block;
  text-align: center;
  color: #ffffff;
}

/* Section - ETA */

.eta {
  height: 100%;
  overflow-y: auto;
}

.stop_section {
  padding: 30px 20px 25px;
}

.stop_section > h3 {
  margin: 0px 0px 20px;
  font-size: 1.075rem;
  font-weight: 500;
}

.stop_section:nth-child(2n) {
  background: #e6f7ff;
}

.departure:not(:last-of-type) {
  margin: 0px 0px 20px;
}

.no_departure {
  color: #333333;
}

.no_departure span.material-symbols-outlined {
  margin: 0px 5px 0px 0px;
  color: #333333;
}

.departure > span {
  display: inline-block;
  font-weight: 500;
}

.departure > span:not(:last-child) {
  margin: 0px 5px 0px 0px;
}

.departure:nth-of-type(1) > span:nth-of-type(1) {
  font-size: 1.15rem;
}

.departure > span:nth-of-type(1) {
  font-weight: 700;
}

.departure:not(:first-of-type) > span:nth-of-type(1) {
  font-size: 1.0rem;
  font-weight: 500;
  color: #333;
}

.departure > span:nth-of-type(2) {
  font-size: 0.8825rem;
  color: #4d4d4d;
}

.departure > span:nth-of-type(3) {
  font-size: 0.825rem;
  color: #595959;
}

.arriving > span:nth-of-type(1) {
  color: #005ce6;
}

.chip {
  padding: 0px 10px;
  border-radius: 15px;
  vertical-align: middle;
  color: #ffffff;
  font-size: 0.8rem;
}

.chip_scheduled {
  background: #8c8c8c;
}

.chip_delayed {
  background: #cc8800;
}

/* Section - Bottom Bar */

.bottom_bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.bottom_bar div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom_bar div > span {
  text-align: center;
  font-weight: 500;
}

.bottom_bar div > span:not(:last-child) {
  margin-right: 5px;
}

.bottom_bar button {
  width: 2.25rem;
  background: #555555;
}

.bottom_bar button:active {
  background: #a6a6a6;
}

.bottom_bar span {
  color: #ffffff;
}

/* Settings Dialog */

.settings {
  display: none;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: rgba(240, 240, 240, 0.7);
}

.settings .icon_label {
  margin-bottom: 5px;
}

.settings > div {
  border: 2px solid #999999; 
  border-radius: 15px;
  padding: 10px;
  background: #ffffff;
}

.settings > div > div:first-child {
  text-align: end;
}

.settings > div > div:not(:first-child) {
  padding: 15px;
}

.settings button {
  transition: 0.5s background-color;  
}

.settings button, .settings input, .settings select {
  border: 2px solid #999999;
  text-align: center;
  font-weight: 600;
}

.settings button:not(.settings_close), .settings input, .settings select {
  width: 100%;
}

.settings span.material-symbols-outlined {
  font-size: 1.3rem;
}